@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body{
 background-color: #1d3557;
}
#container{
    font-family: 'Orelega One', cursive;
    color: rgb(248, 248, 164);
    text-align: center;
    width: 500px;
    height: 700px;
    background-color: #e63946;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 25px;
}

#decrease{
    background-color: #a8dadc;
    border-radius: 12px;
    width: 100px;
    height: 50px;;
}
#increase{
    background-color: #a8dadc;
    border-radius: 12px;
    width: 100px;
    height: 50px;;
}
#reset{
    background-color: #a8dadc;
    border-radius: 12px;
    width: 100px;
    height: 50px;
}

#answerbtn{
    background-color: #457b9d;
    border-radius: 12px;
    width: 100px;
    height: 50px;
}

#questionBtn{
    background-color: #457b9d;
    border-radius: 12px;
    width: 100px;
    height: 50px;
}